$ColorScheme: (
    primary: #112243,
    white: #FFFFFD,
    bg: #F7F9FD,
    button: #fe3652,
    link: #7776B1,
    purple: #762d78,
    paragraph: #959794,
    headline: #001140,
    text: #000000,
)
